@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../../client/assets/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../client/assets/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../client/assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../client/assets/fonts/Montserrat-SemiBold.ttf");
}

$primary: #40bfbd;
$secondary: #40bf71;
$main-font: "Montserrat Regular";
$main-font-bold: "Montserrat-SemiBold";
$base-size: 10px;

//Media queries
@mixin mediaSmall {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLarge {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXLarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
